streamlit==1.49.1
pandas==2.2.3
numpy==2.2.4
plotly==6.2.0
openpyxl==3.1.5
scipy==1.15.3
scikit-learn==1.7.0
streamlit==1.49.1
pandas==2.2.3
numpy==2.2.4
plotly==6.2.0
openpyxl==3.1.5
scipy==1.15.3
scikit-learn==1.7.0
statsmodels==0.14.4
tensorflow==2.20.0
statsmodels==0.14.4
xgboost==2.1.3
